@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --background-dark: #0d224a;
  --background-light: #eef7ff;

  --white: #ffffff;
  --black: #000000;

  --red: #ee0039;
  --green: #11c25d;
  --grey: #8ca3cd;
  --primary: #5272ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-background-dark: var(--background-dark);
  --color-background-light: var(--background-light);

  --color-white: var(--white);
  --color-black: var(--black);

  --color-red: var(--red);
  --color-green: var(--green);
  --color-grey: var(--grey);
  --color-primary: var(--primary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
